sidechain_contracts_owner: "0x34e583cf9c1789c3141538eec77d9f0b8f7e89f2"
sidechain_free: true
arbiters:
  - "0xf870491ea0f53f67846eecb57855284d8270284d"
relay:
  fee_wallet: "0x34e583cf9c1789c3141538eec77d9f0b8f7e89f2"
  verifiers:
    - "0xd87e4662653042c5da11711542c11f2c8433612d"
    - "0x4f10166cafd7856ea946124927d4478fdd18d979"
    - "0x085ba02c35555fecb8147820135fdfec10eed85a"
